$mainColor: #c44d58
$secondaryColor: #ff6b6b 
$thirdColor: #c7f464
$gray: #4ecdc4

$mainFont:'Raleway', sans-serif
$secondaryFont:'Merriweather', serif



//General Styles 

.page
  max-width: 99%

p
  font-family: $mainFont

h2, h3, h4, h5, h6
  font-family: $secondaryFont




//Header Styles

@mixin headerBackground($img)
  background: linear-gradient(to bottom, $mainColor, transparent 0%), linear-gradient(0deg, $secondaryColor, transparent 99%), url("../img/#{$img}.jpg") no-repeat
  background-size: cover
  background-attachment: fixed


header[id="mainHead"] 
  @include headerBackground(headerJewelry)

header[id="necklaceHead"] 
  @include headerBackground(roseBeauty)  
  

h1
  font-size: 4rem
  font-weight: 800
  line-height: 1.3
  max-width: 80%
  display:block
  margin: auto
  font-family: $mainFont
  color: #fff

.title
  display: block  
  margin-bottom: 10px

.headings
  position: absolute
  top: 12em
  left: 0
  right: 0
  position: center


header
  height: 42em 
  text-align: center
  margin-bottom: 5%
  margin-top: 0
  padding-bottom: 5%

.productButton
  font-weight: bold
  margin-top: 1em


// Products Navigation

.top-bar
  background-color: inherit


nav, 
  text-align: center
  transition: 1s
  & ul 
    list-style: none
    margin: 0 10px
    padding: 0
    float: right
  & li 
    display: inline-block
    color: #fff  
  & a 
    font-weight: 800
    padding: 5px 5px
    margin-right: 2em
    color: #fff
    font-size: 1.3em
    font-family: $mainFont
    &:hover
      color: $secondaryColor
  & .selected
    border-bottom: solid 2px $secondaryColor

 


.fixed .top-bar, .productNav 
  background: linear-gradient($mainColor, transparent 99%)
  width: 100%



// Main Page Written Content

.para
  margin-top: 20px

hr
  margin-bottom: 80px
  color: $mainColor
  height: 12px
  border: 0
  box-shadow: inset 0 12px 12px -12px $mainColor

.section
  margin-bottom: 30px  

.firstRow
  margin-bottom: 10px




.productCategory, .product
  height: 250px
  display: inline-block
  padding: 0.5em
  margin-bottom: 3em

.necklace
  background: $mainColor

.bracelet
  background: $secondaryColor

.other
  background: $thirdColor

.gift
  background: $gray

.showcase
  margin-bottom: 50px  

//Product Page

.productImg
  margin-top: 6em

.productDescription
  margin-top: 8em

.productPage
  max-width: 80%