
$mainColor: #67BCDB;
$secondaryColor: #E44424 ;
$thirdColor: #A2AB58;
$gray: #E8E8E8;

$mainFont: 'Bree Serif', serif;
$secondaryFont: 'Imprima', sans-serif;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 1em;
}

a, li{
  text-decoration: none;
}

p {
	font-family: $mainFont;
}


.caption {
	 display: none;	
	 visibility: hidden;
}

.container{
	max-width: 90%;
	margin: auto;
}

/**********************************
Header
***********************************/

@mixin headerBackground($img){
	background:linear-gradient($mainColor, transparent 90%),
			   linear-gradient(0deg, $secondaryColor, transparent),
			   url("../img/#{$img}.min.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 2px 2px  8px #000;
	line-height: 1.3;
	color: #fff;
	max-width: 80%;
	display:block;
	margin: auto;
	position: relative;
	font-family: $mainFont;
}

header{
	height: 650px; 
	text-align: center;
	padding-bottom: 30%;
	box-shadow: 5px 0px 10px #000;
}


header[id="indexHead"] {
	@include headerBackground(desk);
}

header[id="aboutHead"] {
	@include headerBackground(process);
}

header[id="contactHead"]{
	@include headerBackground(contact);	   
}

.title {
	color: #fff;
	font-size: 1.626em;
	font-weight: bold;
	font-family: $secondaryFont;
}

#indexHead {
	margin-bottom: 5%;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  padding-top: 20px;
  margin-bottom: 12.5em;
  width: 100%;
  & ul {
	  list-style: none;
	  margin: 0 10px;
	  padding: 0;
	  float: right;
	}
  & li {
  display: inline-block;
   color: #fff;
 }		
  & a {
   font-weight: 900;
   padding: 10px 5px;
   color: #fff;
   font-size: 1.3em;
   font-family: $mainFont;
   &:hover{
	 color: $secondaryColor;
   }
  }
  & .selected{
	border-bottom: solid 2px $secondaryColor;
  }
}


/**********************************
Skills Bar
***********************************/

.skill{
	list-style: none;
	text-align: center;
	border: 0;
	text-decoration: none;
	&:hover {
		color: $secondaryColor;
		border-bottom: solid 1px $secondaryColor;
		transition: color 500ms ease-in-out;
		transition: border 500ms ease-in-out;
	}

}


/**********************************
Content
***********************************/
p{
	font-family: $secondaryFont;
}

#bio {
	font-size: 1.25em;
	line-height: 1.4;
	padding: 50px;
	& p{
		margin-bottom: 2em;
	}
	& button {
		position:center;
		margin: auto;
		display: block;
	}
}

.toprow {
		margin-top: 50px;
		padding: 0;
}

.subTitle {
	font-family: $secondaryFont;
	font-size: 1.1em;
	font-weight: bold;
}

.mainContent {
	padding-top: 25px;
	margin: auto;
	font-family: $secondaryFont;
}

hr {
	color: $gray;
	border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px darken($gray, 20%);
    max-width: 20%;
    margin: auto;
    margin-bottom: 5em;
}

.recentWork, .approach  {
	text-align: center;
	width: 100%; 
	margin-top: 5%;
	padding: 5% 10%;
	background: $gray;
	padding-bottom: 150px;
	& h2 {
		margin-bottom: 100px;
	}
}

.approach {
	display: block;
	width: 100%;


}
.width {
	margin:0px;
	display: block;
    position: relative;
    width: 100%;
    min-width: 100%;
    	margin-top: 100px;
}


h4, h5, h6{
	font-family: $mainFont;
	font-size: 1.2em;
}

h5 {
	font-size: 1.5em;
}

h4, h6 {
	border-bottom: solid 1px $mainColor;
}

h1 {

	font-size: 4em;
	font-family: $mainFont;
}

h2 {
	font-size: 2em;
	font-family: $mainFont;
}

.contacthead {
	margin-bottom: 10%;
}

.contactmargin {
	margin-top: 15%;
}
/**********************************
Footer
***********************************/

.footerNav{
	max-width: 50%;
	display: block;
	margin: auto;
	margin-top: 2em;
  & li {
	list-style-type: none;
	font-family: $mainFont;
	font-size: 1.2em;
	background: darken($mainColor, 20%);
	& a{
		text-decoration: none;
		color: $secondaryColor;
		font-size: 1.2em;
	}
}
}

footer{
	padding-top: 20px;
	padding-bottom: 5px;
	background: $mainColor;
	text-align: center;
	& span {
		float: left;
	}
}
#med li{
	list-style: none;
	font-style: none;
	 margin: 10px;
	 padding: 0;
	 float: right;
	}

#footQuote {
	margin-top: 30px;
}


/**********************************
Animations
***********************************/

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/**********************************
Break Points
***********************************/