
$mainColor: #67BCDB;
$secondaryColor: #E44424 ;
$thirdColor: #A2AB58;
$gray: #E8E8E8;

$mainFont: 'Bree Serif', serif;
$secondaryFont: 'Imprima', sans-serif;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font: 1em;
}

a, li{
  text-decoration: none;
}

p {
	font-family: $mainFont;
}


.caption {
	 display: none;	
	 visibility: hidden;
}

.container{
	max-width: 90%;
	margin: auto;
}

/**********************************
Header
***********************************/

@mixin headerBackground($img){
	background:linear-gradient($mainColor, transparent 90%),
			   linear-gradient(0deg, $secondaryColor, transparent),
			   url("../img/#{$img}.jpg") no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	font-size: 3.5rem;
	font-weight: bold;
	text-shadow: 2px 2px  8px #000;
	line-height: 1.3;
	color: #fff;
	max-width: 80%;
	display:block;
	margin: auto;
	font-family: $mainFont;
}

.headings{
	position: absolute;
	height: -50px;
	top: 40%;
	left: 0;
	right: 0;
	position: center;
}

header{
	height: 650px; 
	text-align: center;
	padding-bottom: 30%;
}


header[id="indexHead"] {
	@include headerBackground(desk);
}

header[id="aboutHead"] {
	@include headerBackground(process);
}

header[id="contactHead"]{
	@include headerBackground(contact);	   
}

.title {
	color: #fff;
	font-size: 1.626em;
	font-weight: bold;
	font-family: $secondaryFont;
}

#indexHead {
	margin-bottom: 5%;
}

/**********************************
NAVIGATION
***********************************/

nav {
  text-align: center;
  padding: 10px 0;
  padding-top: 20px;
  margin-bottom: 12.5em;
  width: 100%;
  transition: 1s;
  & ul {
	  list-style: none;
	  margin: 0 10px;
	  padding: 0;
	  float: right;
	}
  & li {
  display: inline-block;
   color: #fff;
 }		
  & a {
   font-weight: 800;
   padding: 10px 5px;
   color: #fff;
   font-size: 1.3em;
   font-family: $mainFont;
   &:hover{
	 color: $secondaryColor;
   }
  }
  & .selected{
	border-bottom: solid 2px $secondaryColor;
  }
}




/**********************************
Skills Bar
***********************************/

.skill{
	list-style: none;
	text-align: center;
	border: 0;
	text-decoration: none;
	&:hover {
		color: $secondaryColor;
		border-bottom: solid 1px $secondaryColor;
		transition: color 500ms ease-in-out;
		transition: border 500ms ease-in-out;
	}

}


/**********************************
Content
***********************************/
p{
	font-family: $secondaryFont;
}

#bio {
	font-size: 1.25em;
	line-height: 1.4;
	padding: 50px;
	& p{
		margin-bottom: 2em;
	}
	& button {
		position:center;
		margin: auto;
		display: block;
	}
}

.toprow {
		margin-top: 50px;
		padding: 0;
}

.subTitle {
	font-family: $secondaryFont;
	font-size: 1.1em;
	font-weight: bold;
}

.mainContent {
	padding-top: 25px;
	margin: auto;
	font-family: $secondaryFont;
}

hr {
	color: $gray;
	border: 0;
    height: 0; /* Firefox... */
    box-shadow: 0 0 2px 1px darken($gray, 20%);
    max-width: 20%;
    margin: auto;
    margin-bottom: 5em;
}

.recentWork, .approach  {
	text-align: center;
	width: 100%; 
	margin-top: 5%;
	padding: 5% 10%;
	background: $gray;
	padding-bottom: 150px;
	& h2 {
		margin-bottom: 100px;
	}
}

.approach {
	display: block;
	width: 100%;


}
.width {
	margin:0px;
	display: block;
    position: relative;
    width: 100%;
    min-width: 100%;
    	margin-top: 100px;
}


h4, h5, h6{
	font-family: $mainFont;
	font-size: 1.2em;
}

h5 {
	font-size: 1.5em;
}

h4, h6 {
	border-bottom: solid 1px $mainColor;
}

h1 {

	font-size: 4em;
	font-family: $mainFont;
}

h2 {
	font-size: 2em;
	font-family: $mainFont;
	font-weight: bold;
}

.contacthead {
	margin-bottom: 10%;
}

.contactmargin {
	margin-top: 15%;
}

.recentContent{
	margin-top: 0em
}

u:hover {
	color: $secondaryColor;
	transition: color 500ms ease-in-out;
	transition: border 500ms ease-in-out;
}
/**********************************
Footer
***********************************/

.footerNav{
	max-width: 50%;
	display: block;
	margin: auto;
	margin-top: 2em;
  & li {
	list-style-type: none;
	font-family: $mainFont;
	font-size: 1.2em;
	background: darken($mainColor, 20%);
	& a{
		text-decoration: none;
		color: $secondaryColor;
		font-size: 1.2em;
		font-weight: 800;
	}
}
}

footer{
	padding-top: 20px;
	padding-bottom: 5px;
	background: $mainColor;
	text-align: center;
	& span {
		float: left;
	}
}
#med li{
	list-style: none;
	font-style: none;
	 margin: 10px;
	 padding: 0;
	 float: right;
	}

#footQuote {
	margin-top: 30px;
	margin-bottom: -30px;
}

.social{
		font-size: 1.5em;
		color: #333;
		&:hover{
			color: $secondaryColor;
			cursor: pointer;
		}
}

#bio .lisocial {
	margin-bottom: .25em;
}

.lisocial{
		font-size: 1em;
		color: #333;
		display: inline-block;
		&:hover{
			color: $secondaryColor;
			cursor: pointer;
		}
}


/**********************************
Animations
***********************************/

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);

  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.page-header {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 3s
}


.img {
	transform: scale(1.0);
	display: block;
	&:hover{
		transform: scale(1.05);
		transition: all 0.4s ease-in-out;
		cursor: pointer;
		.imgOverLay {
			left: 0%;
		}
	}
}




/**********************************
Break Points
***********************************/

// Here we define the breakpoints which will become the upper border for each media size.
// The function em-calc() calculates the em-value from a px-value.
$small-breakpoint:  em-calc(640)  !default;
$medium-breakpoint: em-calc(1024) !default;
$large-breakpoint:  em-calc(1440) !default;
$xlarge-breakpoint: em-calc(1920) !default;

// Here we define the lower and upper bounds for each media size
$small-range:   (0, $small-breakpoint) !default; /* 0, 640px */
$medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint) !default; /* 641px, 1024px */
$large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint)  !default; /* 1025px, 1440px */
$xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint) !default; /* 1441px, 1920px */
$xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999)) !default; /* 1921px, ... */

// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$small-up: $screen !default;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})" !default;

$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})" !default;
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})" !default;

$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})" !default;
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})" !default;

$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})" !default;
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})" !default;

$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})" !default;
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})" !default;

$retina: (
  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
  "#{$screen} and (min-device-pixel-ratio: 2)",
  "#{$screen} and (min-resolution: 192dpi)",
  "#{$screen} and (min-resolution: 2dppx)"
  );



// Small Screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
	header[id="indexHead"] {
		@include headerBackground(desk-small);
	}

	header[id="aboutHead"] {
		@include headerBackground(process-small);
	}

	header[id="contactHead"]{
		@include headerBackground(contact-small);	   
	}

	.skill:hover{
		border: none;
	}

	#footQuote, .footerSocial{
	width: 90%;
	text-align: center;
	margin: 0;
	}

	.footerNav {
	display: none;
		visibility: hidden;
	}

	.recentContent{
		margin-top: 20px;
	}

	.imgHolder {
  	  margin-top: -40px;
  	  margin-bottom: 60px;
	}

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */




// Medium Screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	header[id="indexHead"] {
		@include headerBackground(desk-medium);
	}

	header[id="aboutHead"] {
		@include headerBackground(process-medium);
	}

	header[id="contactHead"]{
		@include headerBackground(contact-medium);	   
	}

	.skill {
		margin: .25em;
		font-size: .7em;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */



// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { 
	header[id="indexHead"] {
		@include headerBackground(desk-large);
	}

	header[id="aboutHead"] {
		@include headerBackground(process-large);
	}

	header[id="contactHead"]{
		@include headerBackground(contact-large);	   
	}
} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */



// XLarge screens
@media only screen and (min-width: 90.063em) {	
	header[id="indexHead"] {
		@include headerBackground(desk-xlarge);
	}

	header[id="aboutHead"] {
		@include headerBackground(process-xlarge);
	}

	header[id="contactHead"]{
		@include headerBackground(contact-xlarge);	   
	}
}  /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

